<div class="min-h-screen flex items-center justify-center bg-cover bg-center" style="background-image: url('/concierto-nw.jpg');">
  <div class="bg-black bg-opacity-90 p-16 rounded-lg shadow-md w-full max-w-2xl border-2 border-lime-500">
    <h2 class="text-4xl font-bold text-lime-500 mb-10 text-center">INICIA SESIÓN</h2>
    <form>
      <div class="mb-8">
        <label for="username" class="block text-lime-500 text-sm font-bold mb-2">CORREO ELECTRÓNICO</label>
        <input type="text" id="username" placeholder="Ingresa tu correo" name="username" required
          class="shadow appearance-none border rounded w-full py-4 px-5 text-white leading-tight focus:outline-none focus:shadow-outline bg-transparent border-orange-500" />
      </div>
      <div class="mb-10">
        <label for="password" class="block text-lime-500 text-sm font-bold mb-2">CONTRASEÑA</label>
        <input type="password" id="password" placeholder="Ingresa tu contraseña" name="password" required
          class="shadow appearance-none border rounded w-full py-4 px-5 text-white leading-tight focus:outline-none focus:shadow-outline bg-transparent border-orange-500" />
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-4 px-8 rounded focus:outline-none focus:shadow-outline" type="submit">
          Accede a tu cuenta 🎟️
        </button>
      </div>
    </form>
    <div class="mt-6 text-center">
      <span class="text-lime-500">¿No tienes una cuenta?</span>
      <a href="sections/register" class="text-orange-500">Regístrate</a>
    </div>
  </div>
</div>
